# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib

# gitignore template for LTspice
# website: https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net